

*{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: black;
    background-color: white;
}


html, body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
}

body {
    min-height: calc(100vh)
}

.mainMenuHolder {
    padding: 20px;
}

.mainFooter {
    padding: 20px 10px;
    color: #888;
    font-size: 12px;
    text-decoration: none;
    white-space: nowrap;
}

.mainWrap {
    min-height: calc(100vh - 140px);
}

.mainMenuLogo {
    width: 100px;
    position: relative;
    left: -5px;
}





h1{
    color:blue;
}

.Title{
    color: bisque;
}

input[type=text],
input[type=password],
input[type=email] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sasTitle {
    padding-top: 100px;
}

.mainWrap {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.sasInputHolder {
    margin: 30px 0px;
}

.sasTitle {
    font-size: 20px;
}

.sasMessage {
}

.sasInputLabel{
    padding: 0 0 0 20px;
}

.sasInput {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #F6F6F9;
    padding: 10px 10px 10px 45px;
    border-radius: 30px;;
    background-color: #F6F6F9;
    outline: none;
}

.sasInput:focus {
    border: 2px solid #661D72;
}

.sasInputText {
    position: relative;
}

.sasInputIcon {
    position: absolute;
    left: 15px;
    top: 15px;
}

.sasMainAction {
    background-color: #DC3E35;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    margin: 30px 0px
}

.sasMainAction:hover {
    filter: brightness(110%);
}

.sasMainAction:active {
    filter: brightness(100%);
}

.sasMessageAlert {
    background-color: #F0E9F1;
    color: #661D72;
    border-radius: 50px;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 14px;
}

.sasMessageAlert:empty {
    display: none;
}

.sasLink {
    color: #661D72;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    cursor: pointer
}

.sasLink:hover {
    text-decoration: underline
}

input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.footerInfo {
    display: flex;
    align-items: center;
    justify-content: left;
    color: #888;
    margin-left: 5px;
}

.mainFooter {
    text-decoration: none
}

a.mainFooter:hover {
    color: #691F74;
}

.linkis{
    text-align: center;
    margin-top:20px;
}
